body {
    background-color: rgb(255, 123, 143);
    display: grid;
    grid-template: 100% / 100%;
    text-align: center;
    align-items: center;
}

#index-header {
    display: grid;
    background-color: bisque;
    height: 100%;
    align-items: center;
}

.index-nav {
    display: grid;
    grid-column: 1 / span 3;
    grid-template-columns: 3fr 3fr 3fr;
}

